{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/brand/logo-white-rbg.png' %}">

  <title>{% block title %}Librarian Base page{% endblock %}</title>
</head>

<body>

  <div class="row" style="height: 100vh;">

    <header class="col-md-2 shadow-sm" style="font-size: larger;">
      <aside class="d-flex flex-column justify-content-between vh-100 p-3 mx-2">
    
        <!-- Logo -->
        <div class="mb-4">
          <a href="{% url 'dashboard' %}" class="d-flex align-items-center mb-2 text-brown text-decoration-none">
            <img src="{% static 'assets/brand/_logo-nobg.png' %}" class="me-2" width="80" height="80" role="img"
              aria-label="GardenBook">
          </a>
        </div>
    
        <!-- Navigation Links (higher up) -->
        <div class="d-flex flex-column" style="margin-bottom: auto;">
          <a href="{% url 'dashboard' %}" class="mb-4">
            <i class="bi bi-clipboard2-data"></i> Dashboard
          </a>
          <a href="{% url 'manage-users' %}" class="mb-4">
            <i class="bi bi-people"></i> Manage Users
          </a>
          <a href="{% url 'borrows-returns' %}" class="mb-4">
            <i class="bi bi-ui-checks"></i> Borrows & Returns
          </a>
          <a href="{% url 'stock' %}" class="mb-4">
            <i class="bi bi-archive"></i> Stock
          </a>
          <a href="{% url 'orders' %}" class="mb-4">
            <i class="bi bi-bag-dash"></i> Orders
          </a>
          <a href="{% url 'manage-event' %}" class="mb-4">
            <i class="bi bi-calendar2-event"></i> Events
          </a>
          <a href="{% url 'manage-payment' %}" class="mb-4">
            <i class="bi bi-wallet2"></i> Payments
          </a>
        </div>
    
        <!-- Logout at Bottom -->
        <div class="text-end mt-auto">
          <a href="{% url 'logout' %}" style="font-weight: bolder;">
            <i class="bi bi-box-arrow-left"></i> Logout
          </a>
        </div>
    
      </aside>
    </header>
    

    <main class="col px-0">

      <div class="row py-3 mx-1 shadow-sm">
        <div class="col-6">
          <h2>{% block page%} Current page name {% endblock page %}</h2>
        </div>

        <div class="col-6 d-flex justify-content-end">
          <a href="{% url 'dashboard' %}">
            <img src="{{ request.user.profile_pic.url }}" alt="Profile" class="rounded-circle"
              style="height: 30px; width: 30px;">
          </a>
        </div>
      </div>

      <div class="py-5 bg-green-soft" style="height: 100vh;">
        {% block content %}

        {% endblock content %}
      </div>

    </main>

    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>
  </div>
</body>

</html>