{% extends 'base.html' %}
{% load static %}

{% block title %}Catalog | GardenBook{% endblock %}


{% block content %}
<div class="py-5 bg-light-brown">
  
  <!-- START RESULT COUNT -->
  <div class="row d-flex justify-content-end">
    <div class="col-auto">
      <p><i><strong>{{ result_count }}</strong> out of <strong>{{ book_count }}</strong> book results found.</i></p>
    </div>
  </div>
  <!-- END RESULT COUNT -->

  <!-- START SEARCH BAR + DISPLAY SECTION -->
  <div class="container-fluid row m-2">

    <!-- START SEARCH / FILTER SECTION -->
    <div class="col-md-2 p-4 bg-white shadow-sm rounded-20">
      <h2>Search Bar</h2>

      <form method="GET" action="{% url 'catalog' %}">

        <!-- FOR : TITLE AUTHOR EDITION KEYWORDS -->
        <div class="row">
          <input type="search" name="q" class="form-control form-control-dark" id="searchBar"
            placeholder="ISBN, Title, Author, Edition, Keywords..." aria-label="Search">
        </div>

        <!-- GENRE SECTION -->
        <div class="row my-2">
          <p class="fs-5">Genre</p>
          <div class="bg-light border rounded" style="max-height: 100px; overflow: auto;">

            {% if genres %}
            {% for genre in genres %}
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="genre" value="{{ genre }}" id="genre{{ genre }}">
              <label class="form-check-label text-uppercase small text-muted" for="genre{{ genre }}">{{ genre }}</label>
            </div>
            {% endfor %}
            {% else %}
            <p><small>No genres available</small></p>
            {% endif %}

          </div>
        </div>

        <!-- PUBLICATION YEAR SECTION -->
        <div class="row my-2">
          <p class="fs-5">Publication Year</p>
          <div class="col-md-6">
            <p class="fs-5">From</p>
            <input type="number" name="publicationYearFrom" id="publicationYearFrom" value="{{pub_year_min}}"
              min="{{pub_year_min}}" max="{{pub_year_max}}" class="form-control form-control-dark">
          </div>
          <div class="col-md-6">
            <p class="fs-5"> To </p>
            <input type="number" name="publicationYearTo" id="publicationYearTo" value="{{pub_year_max}}"
              min="{{pub_year_min}}" max="{{pub_year_max}}" class="form-control form-control-dark">
          </div>
        </div>

        <!-- LANGUAGE SECTION -->
        <div class="row my-2">
          <p class="fs-5">Language</p>
          <select class="form-control" name="language" id="language">
            <option value="">select a language</option>

            {% for lang in langs %}
            <option value="{{lang}}">{{lang}}</option>
            {% endfor%}

          </select>
        </div>

        <!-- AUDIENCE SECTION -->
        <div class="row my-2">
          <p class="fs-5">Audience</p>
          <select class="form-control" name="audience" id="audience">
            <option value="">select an audience</option>

            {% for aud in auds %}
            <option value="{{aud}}">{{aud}}</option>
            {% endfor%}

          </select>
        </div>

        <!-- REVIEW SECTION -->
        <div class="row my-2">
          <p class="fs-5">Review (minimum)</p>
          <input type="number" name="review" id="review" min="0" max="10" class="form-control form-control-dark">
        </div>

        <!-- SEARCH BUTTON -->
        <div class="row my-2">
          <button type="submit" class="btn btn-green" id="resetButton">Search</button>
        </div>

        <!-- RESET BUTTON -->
        <div class="row my-2">
          <a href="{% url 'catalog' %}" class="btn btn-green" id="resetButton">Reset</a>
        </div>
      </form>

    </div>
    <!-- END SEARCH / FILTER SECTION -->


    <!-- START BOOK DISPLAY SECTION -->
    <div class="col-auto">

      <!-- START ROW OF 4 BOOKS SECTION -->
      <div class="row m-4 d-flex justify-content-center align-items-center gap-5">

        {% for book in page_obj %}
        <!-- START ONE CARD BOOK SECTION -->

        <div class="card rounded-20" style="width: 22rem;">

          <div class="card-header p-0 my-2 shadow-sm" style="height: 30rem; background: inherit;">
            <img src="{{ book.cover.url }}" class="card-img-top border-dark" alt="...">
          </div>

          <div class="card-body" style="height: 12rem;">

            <h4 class="card-text" style="height: 4rem; overflow: hidden;">
              <span>{{ book.title }}</span>
            </h4>

            <p>{{ book.author }}</p>

            <p>{{ book.edition }}</p>

            <div class="text-warning me-2">
              {% for i in "12345" %}
              {% if book.review|floatformat:1 >= i %}
              <i class="bi bi-star-fill"></i>
              {% elif book.review|floatformat:1 >= i|add:"-0.5" %}
              <i class="bi bi-star-half"></i>
              {% else %}
              <i class="bi bi-star"></i>
              {% endif %}
              {% endfor %}
              <span class="text-muted">{{ book.review }}/10</span>
            </div>


          </div>
          <div class="card-footer d-flex justify-content-between my-2" style="background: inherit;">
            <a href="{% url 'book-detail' book.id %}" class="btn btn-outline-brown">Details</a>
            <a href="{% url 'add-wishlist' book.id request.user.id 'catalog' %}">
              <img src="{% static 'wishlist_icon.png' %}" width="30" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Add To Wishlist">
            </a>
          </div>
        </div>

        <!-- END ONE CARD BOOK SECTION -->
        {% endfor %}

      </div>
      <!-- END ROW OF 4 BOOKS SECTION -->
    </div>
    <!-- END BOOK DISPLAY SECTION -->


    <!-- END BOOK DISPLAY SECTION -->
  </div>
  <!-- START SEARCH BAR + DISPLAY SECTION -->

  <!-- START _ SECTION -->
  <div class="row">
    <div class="col-auto bg-green">
      {% if page_obj.has_other_pages %}
      <nav class="mt-4">
        <ul class="pagination justify-content-center">

          {# Previous button #}
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link"
              href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">
              Previous
            </a>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Previous</span></li>
          {% endif %}

          {# Current page number #}
          <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>

          {# Next button #}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link"
              href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">
              Next
            </a>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Next</span></li>
          {% endif %}

        </ul>
      </nav>
      {% endif %}


    </div>
  </div>
  <!-- END _ SECTION -->

</div>
<script>

  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

</script>
{% endblock %}