{% extends 'baseLibrarian.html' %}

{% load crispy_forms_tags %}

{% block title %}{{ person.first_name }} {{ person.last_name }} | GardenBook{% endblock %}

{% block page %}Edit User{% endblock %}


{% block content %}
<div class="py-5" style="background-color: #f8f5f0;">
  <div class="container mt-2">
    <div class="card shadow-sm">
      <div class="card-header bg-brown text-white">
        <div class="row">
          <div class="col-md-1 rounded-circle bg-green px-0 d-flex justify-content-center" style="width: 30px;"><i
              class="bi bi-person-add text-brown"></i></div>
          <h4 class="col mb-0 mx-auto">Edit A User's Informations</h4>
        </div>
      </div>

      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}