{% extends 'baseLibrarian.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Users | GardenBook{% endblock %}

{% block page %}Manage Users{% endblock %}




{% block content %}
<div class="container-fluid row m-2">

  <!-- START BUTTONS -->
  <div class="row d-flex justify-content-end">
    <div class="col-auto">
      <a href="{% url 'create-user' %}" class="btn btn-outline-brown">+New User</a>

    </div>
    <div class="col-auto">
      <button class="btn btn-outline-brown" data-bs-toggle="modal" data-bs-target="#print-users-modal">Print List Of
        users</button>
      <!-- ________________________________________________________________________ -->
      <!-- START PRINT MULTIPLE USERS MODAL -->
      <div class="modal fade" id="print-users-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">

        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header bg-brown">
              <h5 class="modal-title text-light" id="modal-title">Print Users</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST">
              {% csrf_token %}

              <div class="modal-body">
                <p class="text-secondary">Filter users:</p>

                <!-- Date of Birth Range -->
                <label for="dob-from" class="form-label">Date of Birth From:</label>
                <input type="date" class="form-control" id="dob-from" name="dob_from">

                <label for="dob-to" class="form-label">Date of Birth To:</label>
                <input type="date" class="form-control" id="dob-to" name="dob_to">

                <!-- Role -->
                <label for="role" class="form-label mt-3">Role:</label>
                <select name="role" class="form-select" id="role">
                  <option value="">-- All --</option>
                  <option value="READER">Reader</option>
                  <option value="LIBRARIAN">Librarian</option>
                  <option value="ADMIN">Admin</option>
                </select>

                <!-- Status -->
                <fieldset class="form-group mt-3">
                  <legend class="form-label">Status:</legend>

                  <input type="checkbox" class="form-check-input" name="status" id="status-active" value="ACTIVE">
                  <label for="status-active" class="form-label">Active</label>

                  <input type="checkbox" class="form-check-input" name="status" id="status-inactive" value="SUSPENDED">
                  <label for="status-inactive" class="form-label">Suspended</label>

                  <input type="checkbox" class="form-check-input" name="status" id="status-banned" value="BANNED">
                  <label for="status-banned" class="form-label">Banned</label>
                </fieldset>

                <!-- City -->
                <label for="city" class="form-label mt-3">City:</label>
                <input type="text" class="form-control" id="city" name="city">

                <!-- Country -->
                <label for="country" class="form-label mt-3">Country:</label>
                <input type="text" class="form-control" id="country" name="country">

                <!-- Date Added -->
                <label for="date-added" class="form-label mt-3">Joined From:</label>
                <input type="date" class="form-control" id="date-added" name="from_date_joined">

                <label for="date-added" class="form-label mt-3">To:</label>
                <input type="date" class="form-control" id="date-added" name="to_date_joined">
              </div>

              <div class="modal-footer bg-brown">
                <input type="hidden" name="action" value="print_users">
                <button type="submit" class="btn btn-outline-green" name="format" value="pdf">PDF</button>
                <button type="submit" class="btn btn-outline-green" name="format" value="csv">CSV</button>
              </div>
            </form>


          </div>
        </div>
      </div>

      <!-- END PRINT MODAL -->
    </div>
  </div>
  <!-- END BUTTONS -->

  <!-- START DISPLAY USERS -->
  <div class="container-fluid row m-2">

    <!-- START SEARCH BAR SECTION -->
    <!-- START SEARCH / FILTER SECTION -->
    <div class="container bg-white shadow-sm rounded-20 m-2 p-4 mb-4">
      <h2 class="mb-3">Search & Filter Users</h2>
      <form method="GET" action="{% url 'manage-users' %}">
        <div class="row gx-3 gy-2 align-items-end">

          <div class="col-md-3">
            <label for="searchUser" class="form-label">Search Users</label>
            <input type="search" name="q" id="searchUser" class="form-control"
              placeholder="ID, CIN, First name, Last name">
          </div>

          <!-- Role -->
          <div class="col-md-2">
            <label class="form-label">Role</label>
            <select class="form-select" name="role">
              <option value="">Select Role</option>
              <option value="librarian">Librarian</option>
              <option value="reader">Reader</option>
              <option value="admin">Admin</option>
            </select>
          </div>

          <!-- Date of Birth -->
          <div class="col-md-2">
            <label class="form-label">Date of Birth</label>
            <input type="date" name="dob" class="form-control">
          </div>

          <!-- Membership Status -->
          <div class="col-md-2">
            <label class="form-label">Status</label>
            <select class="form-select" name="membershipStatus">
              <option value="">Select Status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
              <option value="suspended">Suspended</option>
            </select>
          </div>

          <!-- Search Button -->
          <div class="col-md-1 d-grid">
            <button type="submit" class="btn btn-green">Search</button>
          </div>

          <!-- Reset Button -->
          <div class="col-md-1 d-grid">
            <a href="{% url 'manage-users' %}" class="btn btn-green">Reset</a>
          </div>

        </div>
      </form>
    </div>
    <!-- END SEARCH / FILTER SECTION -->

    <!-- END SEARCH BAR SECTION -->

    <!-- START MESSAGE -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- END MASSAGE -->
    <!-- START TABLE OF USERS -->

    <div class="col mx-3">
      <div class="overflow-hidden shadow-sm p-0 rounded-20">
        <table class="table align-middle m-0">
          <thead class="bg-brown-second">
            <tr>
              <th>Matricule</th>
              <th>Photo</th>
              <th>CIN</th>
              <th>First Name</th>
              <th>Last name</th>
              <th>Phone Number</th>
              <th>Role</th>
              <th>DOB</th>
              <th>Fines</th>
              <th>Send Alert</th>
              <th>Membership Status</th>
              {% if request.user.is_authenticated and request.user.role == 'Administrator' %}
              <th>Suspend Account</th>
              <th>Ban Account</th>
              <th>Edit</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="bg-white">
            {% for user in users %}
            <tr class="clickable-row" data-href="{% url 'profile' user.id %}">
              <td>{{user.id}}</td>
              <td>
                {% if user.profile_pic %}
                <img src="{{ user.profile_pic.url }}" alt="{{ user.first_name }}" class="img-thumbnail" width="50">
                {% else %}
                <img src="{% static 'profile_pic2.png' %}" alt="Default User" class="img-thumbnail" width="50">
                {% endif %}
              </td>
              <td>{{user.cin}}</td>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.role}}</td>
              <td>{{user.dob}}</td>
              <td>
                {{ user_fines|get_item:user.id }}
              </td>
              <td>
                <a href="{% url 'send_fine_alert' user.id %}" class="btn btn-outline-brown">
                  <i class="bi bi-send"></i>
                </a>
              </td>
              <td>{{user.status}}</td>
              {% if request.user.is_authenticated and request.user.role == 'Administrator' %}

              <td>
                <button class="btn btn-outline-brown" data-bs-toggle="modal"
                  data-bs-target="#suspendModal{{ user.id }}">suspend</button>
                <!-- ______________________________________________________________________________________________________________ -->
                <div class="modal fade" id="suspendModal{{ user.id }}" tabindex="-1"
                  aria-labelledby="suspendModalLabel{{ user.id }}" aria-hidden="true">

                  <div class="modal-dialog">

                    <div class="modal-content">

                      <div class="modal-header bg-brown">
                        <h5 class="modal-title text-light" id="suspendModalLabel{{ user.id }}">Suspend User {{
                          user.username }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to SUSPEND the account of <em>{{user.last_name}}
                            {{user.first_name}}</em></p>
                      </div>
                      <div class="modal-footer bg-brown">
                        <a href="{% url 'change-account-status' user.id 'Suspend' %}" class="btn btn-outline-green">Yes!
                          I'm sure</a>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">No.</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <button class="btn btn-outline-brown" data-bs-toggle="modal"
                  data-bs-target="#banModal{{ user.id }}">Ban</button>
                <!-- ______________________________________________________________________________________________________________ -->
                <div class="modal fade" id="banModal{{ user.id }}" tabindex="-1"
                  aria-labelledby="banModalLabel{{ user.id }}" aria-hidden="true">

                  <div class="modal-dialog">

                    <div class="modal-content">

                      <div class="modal-header bg-brown">
                        <h5 class="modal-title text-light" id="banModalLabel{{ user.id }}">Ban User {{ user.username }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to BAN the account of <em>{{user.last_name}}
                            {{user.first_name}}</em></p>
                      </div>
                      <div class="modal-footer bg-brown">
                        <a href="{% url 'change-account-status' user.id 'Ban' %}" class="btn btn-outline-green">Yes! I'm
                          sure</a>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">No.</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <a href="{% url 'edit-user' user.id %}" class="btn bg-white"><img src="{% static 'edit_icon.png' %}"
                    alt="#" class="border-light" width="25"></a>
              </td>
              {% endif %}
              
            </tr>
            {% endfor %}
          </tbody>


        </table>
      </div>
    </div>
    <!-- END TABLE OF USERS -->


  </div>
  <!-- END DISPLAY USERS -->
</div>

<script>

  document.querySelectorAll(".clickable-row").forEach(row => {
    row.addEventListener("click", () => {
      if (event.target.closest("button") || event.target.closest("a")) {
        return;
      }
      window.location.href = row.dataset.href;
    });
  });


</script>

{% endblock %}