{% extends 'baseLibrarian.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Events | GardenBook{% endblock %}
{% block page %}Events{% endblock %}

{% block content %}

<div class="container-fluid row m-2">

  <!-- BUTTONS -->
  <div class="row d-flex justify-content-end align-items-center mb-4">
    <!-- BUTTON -->
    <div class="col-auto">
      <button class="btn btn-outline-brown" data-bs-toggle="modal" data-bs-target="#createEventModal">
        + New Event
      </button>

      <!-- Modal -->
      <div class="modal fade" id="createEventModal" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Create New Event</h1>
              <button type="reset" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <form method="POST" enctype="multipart/form-data" action="{% url 'create-event' %}">
                {% csrf_token %}
                {% crispy create_form %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Horizontal Search Bar -->
  <form method="GET" class="bg-white shadow-sm rounded-20 p-4 mb-4">
    <div class="row g-3 align-items-end">

      <div class="col-md-4">
        <label for="q" class="form-label">Search</label>
        <input type="search" name="q" class="form-control" placeholder="Title, Host, Description...">
      </div>

      <div class="col-md-2">
        <label for="event_type" class="form-label">Event Type</label>
        <select name="event_type" id="event_type" class="form-control">
          <option value="">All</option>
          {% for type in types %}
          <option value="{{ type }}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-2">
        <label for="date_filter" class="form-label">Date</label>
        <select name="date_filter" id="date_filter" class="form-control">
          <option value="">Any Time</option>
          <option value="year">This Year</option>
          <option value="month">This Month</option>
          <option value="week">This Week</option>
        </select>
      </div>

      <div class="col-md-2">
        <button class="btn btn-green w-100" type="submit">Search</button>
      </div>
      <div class="col-md-2">
        <a href="{% url 'manage-event' %}" class="btn btn-green w-100">Reset</a>
      </div>

    </div>
    <small>Press Enter <i class="bi bi-arrow-return-left"></i></small>
  </form>

  <!-- Events Table -->
  <div class="col">
    <div class="overflow-hidden shadow-sm p-0 rounded-20">
      <table class="table table-bordered table-hover align-middle m-0">
        <thead class="bg-brown-second">
          <tr>
            <th>Title</th>
            <th>Host</th>
            <th>Type</th>
            <th>Price</th>
            <th>Start</th>
            <th>End</th>
            <th>Reservations</th>
            <th>Currently Reserved</th>
            <th>Show list</th>
            <th>Status</th>
            <th>Cancel Event</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          {% for event in events %}
          <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.host }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.event_price }} MAD</td>
            <td>{{ event.start_datetime }}</td>
            <td>{{ event.end_datetime }}</td>
            <td>{{ event.nbr_reservations }}</td>
            <td>{{ event.current_reservations }}</td>
            <td class="text-center">
              <!-- START RESERVATION LIST SECTION -->
              <button type="button" class="btn btn-outline-brown" data-bs-toggle="modal"
                data-bs-target="#reservationList{{ event.id }}"><i class="bi bi-card-list"></i></button>

              <!-- Modal -->
              <div class="modal fade" id="reservationList{{ event.id }}" tabindex="-1"
                aria-labelledby="reservationListTitle{{ event.id }}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="reservationListTitle{{ event.id }}">Reservation List of #{{
                        event.id }} {{ event.title }}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-bordered table-hover align-middle m-0">
                        <thead class="bg-brown-second">
                          <tr>
                            <th>Reservation ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                          </tr>
                        </thead>
                        <tbody class="bg-white">
                          {% for guest in event.guests.all %}
                          <tr>
                            <td>{{ guest.id }}</td>
                            <td>{{ guest.username }}</td>
                            <td>{{ guest.email }}</td>
                            <td>{{ guest.phone }}</td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td colspan="4" class="text-center text-muted">No reservations found.</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'generate_list' event.id 'pdf' %}" class="btn btn-outline-brown">Export to PDF</a>
                      <a href="{% url 'generate_list' event.id 'csv' %}" class="btn btn-outline-brown">Export to CSV</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END RESERVATION LIST SECTION -->
            </td>
            <td>
              {% if event.is_canceled %}
              <span class="text-danger">Canceled</span>
              {% else %}
              <span class="text-success">Active</span>
              {% endif %}
            </td>
            <td class="text-center">
              <!-- FOR CANCELING AN EVENT -->
              <a href="{% url 'cancel-event' event.id %}" class="btn btn-outline-brown"><i class="bi bi-x-square"></i></a>

            </td>

            <td class="text-center">
              <button type="button" class="btn btn-outline-brown " data-bs-toggle="modal"
                data-bs-target="#eventDetails{{ event.id }}"><i class="bi bi-eye"></i></button>

              <!-- Modal -->
              <div class="modal fade" id="eventDetails{{ event.id }}" tabindex="-1"
                aria-labelledby="eventDetailsTitle{{ event.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="eventDetailsTitle{{ event.id }}">{{ event.title }}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <div class="card-body">
                          <p class="card-text"><small class="text-body-secondary"><img src="{{ event.poster.url }}"
                                class="img-fluid rounded-start" alt="event poster"></small>
                          </p>
                          <p class="card-text">Event ID: <small class="text-body-secondary">{{ event.id }}</small></p>
                          <p class="card-text">Description:
                            <small class="text-body-secondary">{{ event.description }}</small>
                          </p>
                          <p class="card-text">Starts:
                            <small class="text-body-secondary">{{ event.start_datetime }}</small>
                          </p>
                          <p class="card-text">Ends:
                            <small class="text-body-secondary">{{ event.end_datetime }}</small>
                          </p>
                          <p class="card-text">Location:
                            <small class="text-body-secondary">{{ event.location }}</small>
                          </p>
                          <p class="card-text">Event Type:
                            <small class="text-body-secondary">{{ event.event_type }}</small>
                          </p>
                          <p class="card-text">Event Host:
                            <small class="text-body-secondary">{{ event.host|default:"N/A" }}</small>
                          </p>
                          <p class="card-text">Event Price:
                            <small class="text-body-secondary">{{ event.event_price }}</small>
                          </p>
                          <p class="card-text">Event Status: <small class="text-body-secondary">
                              {% if event.is_canceled %}
                              <span class="text-danger">Canceled</span>
                              {% else %}
                              <span class="text-success">Active</span>
                              {% endif %}
                            </small></p>
                          <p class="card-text">Reservations:
                            <small class="text-body-secondary">
                              {{ event.nbr_reservations }} / {{ event.current_reservations }}
                            </small>
                          </p>
                          <p class="card-text">Created At:
                            <small class="text-body-secondary">{{ event.created_at }}</small>
                          </p>
                          <p class="card-text">Updated At:
                            <small class="text-body-secondary">{{ event.updated_at }}</small>
                          </p>
                          <p class="card-text">Created By:
                            <small class="text-body-secondary">{{ event.created_by }}</small>
                          </p>
                          <p class="card-text">Updated By:
                            <small class="text-body-secondary">{{ event.updated_by }}</small>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'print_event' event.id %}" class="btn btn-primary">Print PDF</a>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="13" class="text-center text-muted">No events found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}